

%ubuntu-light{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300px;
}

%ubuntu-medium{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500px;
}

%ubuntu-bold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700px;
}

%sf-regular{
    font-family: 'SFProDisplay-Regualr',sans-serif;
    font-weight: 400;
}
%sf-semiBold{
    font-family: 'SFProDisplay-Semibold',sans-serif;
    font-weight: 600;
}